<div id="outer-wrapper" class="showcase">

	<div class="row">

		<div class='chartTitle' id="chartTitle">Confirmed cases of Covid-19 in {{title}}</div>

		<div class='subTitle'>Showing the number of confirmed cases in the last 30 days. Click on the circles for more information, or use the zoom button to switch between metropolitan and state views.</div>

	</div>

	<div class="row chartSans" id="coronaMapContainer">

		<div id="zoom" class="btn">{{label}}</div>

		<div id="keyDiv" class="mobHide"></div>

	</div>

	<div class='footer offset'>

		<div id="footerAnnotations"></div>	
		
		<span id="footnote"></span> Guardian graphic <span id="sourceText">| Source: {{source}}</span>
		
	</div>	
		
</div>
